@page
@using Microsoft.Extensions.Localization
@using CatchException.QuestionAnswer.Localization
@using CatchException.QuestionAnswer.Web.Pages.QuestionAnswer
@model CatchException.QuestionAnswer.Web.Pages.QuestionAnswer.IndexModel
@inject IStringLocalizer<QuestionAnswerResource> L

@{
}
<h1>QuestionAnswer</h1>
<p>@L["SamplePageMessage"]</p>
