@page "/QuestionAnswer"
@using Microsoft.Extensions.Localization
@using global::CatchException.QuestionAnswer.Localization
@inject IStringLocalizer<QuestionAnswerResource> L
@{
}
<h1>QuestionAnswer</h1>
<p>@L["SamplePageMessage"]</p>